<a href="https://colab.research.google.com/github/RATHAN9339/Task_1/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [228]:
#Import Libraries
import numpy as np
import pandas as pd

In [229]:
#Import Dataset
df=pd.read_csv("sales_data.csv")

In [230]:
#Print Sample Row
df.sample(5)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
63452,02-06-2012,2,June,2012,18.0,Youth (<25),M,Australia,South Australia,Bikes,Road Bikes,"Road-750 Black, 58",2.0,344.0,540,198.0,688.0,886.0
66732,16-09-2013,16,September,2013,27.0,Young Adults (25-34),M,United Kingdom,England,Bikes,Road Bikes,"Road-750 Black, 48",1.0,344.0,540,174.0,344.0,518.0
82277,19-02-2016,19,February,2016,30.0,Young Adults (25-34),F,Canada,British Columbia,Accessories,Tires and Tubes,Mountain Tire Tube,16.0,2.0,5,47.0,32.0,79.0
88804,07-05-2014,7,May,2014,34.0,Young Adults (25-34),M,Germany,Saarland,Accessories,Tires and Tubes,Mountain Tire Tube,17.0,2.0,5,36.0,34.0,70.0
95082,28-06-2014,28,June,2014,30.0,Young Adults (25-34),F,Australia,New South Wales,Accessories,Tires and Tubes,Mountain Tire Tube,25.0,2.0,5,59.0,50.0,109.0

In [231]:
#Total Rows and Columns in the DataSet
df.shape

(113037, 18)

In [232]:
#Dataset Description
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113037 entries, 0 to 113036
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113037 non-null  object
 1   Day               113037 non-null  int64
 2   Month             113037 non-null  object
 3   Year              113037 non-null  int64
 4   Customer_Age      113033 non-null  float64
 5   Age_Group         113034 non-null  object
 6   Customer_Gender   113037 non-null  object
 7   Country           113035 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113037 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113033 non-null  object
 12  Order_Quantity    113033 non-null  float64
 13  Unit_Cost         113036 non-null  float64
 14  Unit_Price        113037 non-null  int64
 15  Profit            113036 non-null  float64
 16  Cost              113035 non-null  float64
 17  Revenue           113036 non-null  float64
dtypes: float64(6), int64(3), object(9)
memory usage: 15.5+ MB

In [233]:
#Missing Values by Column
missing_values_count=df.isnull().sum()
print(missing_values_count)

Date                0
Day                 0
Month               0
Year                0
Customer_Age        4
Age_Group           3
Customer_Gender     0
Country             2
State               1
Product_Category    0
Sub_Category        1
Product             4
Order_Quantity      4
Unit_Cost           1
Unit_Price          0
Profit              1
Cost                2
Revenue             1
dtype: int64

In [234]:
#Total Missing Values in the Dataset
print(missing_values_count.sum())

24

In [235]:
#Fill Missing values with mean
df["Customer_Age"]=df["Customer_Age"].fillna(df["Customer_Age"].mean())
print("Total Null Values in Customer Age Column:",df["Customer_Age"].isnull().sum())

Total Null Values in Customer Age Column: 0

In [236]:
#Fill Missing values with Numeric Values like '0'
df['Age_Group']=df['Age_Group'].fillna(0)
print("Total Null Values in Age Group Column:",df["Customer_Age"].isnull().sum())

Total Null Values in Age Group Column: 0

In [237]:
#Fill the Missing values with Backward fill
df['Product']=df['Product'].bfill(axis=0)
print("Total Null Values in Product Column:",df["Product"].isnull().sum())

Total Null Values in Product Column: 0

In [238]:
#Fill the Missing values with Forward Fill
df['Order_Quantity']=df['Order_Quantity'].ffill(axis=0)
print("Total Null Values in Order Quantity Column:",df["Order_Quantity"].isnull().sum())

Total Null Values in Order Quantity Column: 0

In [239]:
df=df.dropna(axis=0)
print("Total Null Values in the Dataset:",df.isnull().sum().sum())

Total Null Values in the Dataset: 0

In [240]:
print("Total Duplicate Rows in the Dataset:",df.duplicated().sum())

Total Duplicate Rows in the Dataset: 1001

In [241]:
#Remove Duplicate Rows in the Dataset
df.drop_duplicates(inplace=True)
print("Total Duplicate Rows in the Dataset:",df.duplicated().sum())

Total Duplicate Rows in the Dataset: 0

In [242]:
#Standardize Text Values
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
categorical=['Month','Customer_Gender','Country','State','Product_Category','Sub_Category','Product']
df[categorical]=df[categorical].apply(label.fit_transform)
df.sample(5)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
62740,05-12-2013,5,2,2013,30.0,Young Adults (25-34),1,0,48,1,11,58,1.0,2171.0,3578,656.0,2171.0,2827.0
71680,28-11-2013,28,9,2013,31.0,Young Adults (25-34),0,1,5,2,12,129,4.0,26.0,70,173.0,104.0,277.0
11812,22-10-2015,22,10,2015,38.0,Adults (35-64),0,5,50,0,2,22,3.0,4.0,10,11.0,12.0,23.0
36004,05-11-2013,5,9,2013,40.0,Adults (35-64),0,1,5,0,7,99,14.0,13.0,35,303.0,182.0,485.0
99508,18-08-2015,18,1,2015,41.0,Adults (35-64),1,5,33,0,14,56,20.0,1.0,4,49.0,20.0,69.0

In [243]:
# Convert ORDERDATE to datetime format, handling different formats
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Format all valid dates to dd-mm-yyyy
df['Date'] = df['Date'].dt.strftime('%y/%m/%d')

# Print the updated DataFrame
print(df['Date'].head())

<ipython-input-243-b32ee6d3ef09>:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

0    13/11/26
1    15/11/26
2    14/03/23
3    16/03/23
4    14/05/15
Name: Date, dtype: object

In [244]:
#Clean and Rename the Columns
df.columns=(df.columns.str.strip().str.lower().str.replace(' ','_'))
df.columns

Index(['date', 'day', 'month', 'year', 'customer_age', 'age_group',
       'customer_gender', 'country', 'state', 'product_category',
       'sub_category', 'product', 'order_quantity', 'unit_cost', 'unit_price',
       'profit', 'cost', 'revenue'],
      dtype='object')

In [245]:
#Check the Datatypes of the each column
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112027 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              111990 non-null  object
 1   day               112027 non-null  int64
 2   month             112027 non-null  int64
 3   year              112027 non-null  int64
 4   customer_age      112027 non-null  float64
 5   age_group         112027 non-null  object
 6   customer_gender   112027 non-null  int64
 7   country           112027 non-null  int64
 8   state             112027 non-null  int64
 9   product_category  112027 non-null  int64
 10  sub_category      112027 non-null  int64
 11  product           112027 non-null  int64
 12  order_quantity    112027 non-null  float64
 13  unit_cost         112027 non-null  float64
 14  unit_price        112027 non-null  int64
 15  profit            112027 non-null  float64
 16  cost              112027 non-null  float64
 17  revenue           112027 non-null  float64
dtypes: float64(6), int64(10), object(2)
memory usage: 16.2+ MB

In [246]:
#Fixed the Date datatype
df["date"]=pd.to_datetime(df["date"])
df.info()

<ipython-input-246-520676988ac2>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["date"]=pd.to_datetime(df["date"])

<class 'pandas.core.frame.DataFrame'>
Index: 112027 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              111990 non-null  datetime64[ns]
 1   day               112027 non-null  int64
 2   month             112027 non-null  int64
 3   year              112027 non-null  int64
 4   customer_age      112027 non-null  float64
 5   age_group         112027 non-null  object
 6   customer_gender   112027 non-null  int64
 7   country           112027 non-null  int64
 8   state             112027 non-null  int64
 9   product_category  112027 non-null  int64
 10  sub_category      112027 non-null  int64
 11  product           112027 non-null  int64
 12  order_quantity    112027 non-null  float64
 13  unit_cost         112027 non-null  float64
 14  unit_price        112027 non-null  int64
 15  profit            112027 non-null  float64
 16  cost              112027 non-null  float64
 17  revenue           112027 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(10), object(1)
memory usage: 16.2+ MB

In [247]:
df.head()

,date,day,month,year,customer_age,age_group,customer_gender,country,state,product_category,sub_category,product,order_quantity,unit_cost,unit_price,profit,cost,revenue
0,2026-11-13,26,9,2013,19.0,Youth (<25),1,1,5,0,0,12,8.0,45.0,120,590.0,360.0,950.0
1,2026-11-15,26,9,2015,19.0,Youth (<25),1,1,5,0,0,12,8.0,45.0,120,590.0,360.0,950.0
2,2023-03-14,23,7,2014,49.0,Adults (35-64),1,0,26,0,0,12,23.0,45.0,120,1366.0,1035.0,2401.0
3,2023-03-16,23,7,2016,49.0,Adults (35-64),1,0,26,0,0,12,20.0,45.0,120,1188.0,900.0,2088.0
4,2015-05-14,15,8,2014,47.0,Adults (35-64),0,0,26,0,0,12,4.0,45.0,120,238.0,180.0,418.0

In [248]:
df.to_csv('cleaned_sales_data.csv', index=False)